body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('floresta.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header {
    background: rgba(13, 126, 32, 0.8); 
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header h1 {
    font-size: 1.8rem;
    margin: 0;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #0d7e20;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    border-radius: 40px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}
