body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('floresta.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

nav {
    background-color: rgba(13, 126, 32, 0.9);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.container {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.developers {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.developer {
    text-align: center;
    max-width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.developer:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.developer img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #555;
    margin: 10px 0 5px;
}

p {
    color: #333;
    font-size: 0.9em;
}

footer {
    background-color: #0d7e20;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    margin-top: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}
 